  * {
    padding:0;
    margin:0;
}

html{
    font:11px normal Arial, sans-serif;
    color:#626771;
    background-color:#fff;
}

body{
    padding:20px;
    text-align: center;
}

ul{
    list-style:none;
    display: inline-block;
}

ul li{
    display: inline-block;
    padding: 10px;
    cursor:pointer;
    background-color:#eee;
    color:#000;
    transition:0.3s;
    margin-right: 2px;
    font-weight: bold;
}

ul li:hover{
    /*background-color:#beecea;*/
    background-color:#fff;
    color:#bdd752;
}

ul li.focused{
    color:#fff;
    /*background-color:#41c7c2;*/
    background-color:#bdd752; 
}

p{
    padding-top:15px;
    font-size:12px;
}